html,body{
    margin:0;
    padding:0;
    width:100vw;
    height:100%;
    font-family: candara;
    background-color: #000000;
    
}

header{
    width:100%;
    height:7em;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;
    bottom:2px;
    color:#036669;
}

header img{
    height:100%;
}

header nav{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.7em;
}

header button{
    padding:10px;
    background: color #ffffff;
    border:0;
    color: #036669;
    font-family: candara;
    border-radius:5px;
    box-shadow: 0 0 0.8em rgb(2, 116, 91);
}

.apresentacao{
    width:98%;
    height:95vh;
    border:2px red solid;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao article{
    width:50%;
    height:60%;
    border:2px rgb(240, 19, 19) solid;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.apresentacao article p{
    margin:0;
    margin-left:30px;
    font-size: 1.3em;
    color:#036669;
    padding:0;
}

.apresentacao article h1{
    margin:0;
    margin-left:30px;
    font-size:3em;
    color:#036669;
}

.apresentacao article strong{
    margin:0;
    margin-left:30px;
    font-size: 1.5em;
    color:#036669;
} 

.foto{
    width:30%;
    height:70%;
    border:2px aqua solid;

}